<div class="flipper">
  <article class="dream-header front">
    <i class="large link hand point right outline icon dream-flip-toggle" title="{{ i18n "flip" }}"></i>
    <div class="flipper-block">
      <section class="ui top attached center aligned segment">
        <div class="ui small circular image">
          {{ if isset .Site.Params "avatar" }}
            <img src="{{ .Site.Params.avatar }}">
          {{ end }}
        </div>

        <h3 class="ui header">
          {{- .Site.Params.author -}}{{- i18n "blogAlias" -}}
          <div class="sub header" style="margin-top: 0.5rem;">{{- .Site.Params.motto -}}</div>
        </h3>

        <div class="ui horizontal list">
          <a class="item" href="/archives">
            <i class="archive icon" title="{{ i18n "archives" }}"></i>
          </a>
          <a class="item" href="/tags">
            <i class="tags icon" title="{{ i18n "allTags" }}"></i>
          </a>
          <a class="item" href="/categories">
            <i class="th list icon" title="{{ i18n "allCategories" }}"></i>
          </a>
        </div>
      </section>

      {{ if .Site.Taxonomies.tags }}
      <section class="ui attached center aligned segment dream-tags">
        {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
          <a class="ui label" href="{{ "tags/" | relLangURL }}{{ $name | urlize }}" title="{{ $name }}">{{ $name }}</a>
        {{ end }}
      </section>
      {{ end }}

      {{ if .Site.Taxonomies.categories }}
      <section class="ui attached segment dream-categories">
        <div class="ui accordion">
          {{ range $name, $taxonomy := .Site.Taxonomies.categories.Alphabetical.Reverse }}
            <div class="title">
              <i class="dropdown icon"></i>
              <a href="{{ "categories/" | relLangURL }}{{ .Name | urlize }}" class="item">{{ .Name }}</a>
            </div>
            <div class="content">
              <div class="ui list">
              {{ range $taxonomy.Pages }}
                <div class="item">
                  <div class="content">
                    <a href="{{ .Permalink }}" class="item">{{ .LinkTitle }}</a>
                  </div>
                </div>
              {{ end }}
              </div>
            </div>
          {{ end }}
        </div>
      </section>
      {{ end }}

      <section class="ui bottom attached center aligned segment">
        {{ partial "copyright.html" . }}
      </section>
    </div>
  </article>

  {{ partial "back.html" . }}
</div>
